<%= f.fields_for :customer do |c_form| %>

  <div class="field">
    <%= c_form.label :name %><br />
    <%= c_form.text_field :name %>
  </div>

  <div class="field">
    <%= c_form.label :email %><br />
    <%= c_form.email_field :email %>
  </div>
  <!-- <div class="field"> -->
    <!-- <%#= f.label :account_id %><br /> -->
    <%#= f.number_field :account_id %>

  <!-- </div> -->


  <%= c_form.fields_for :ship_address do |sa_form| %>

    <%= render partial: 'spree/manage/customers/address_form', locals: { f: sa_form, type: 'shipping' } %>

  <% end %>
<% end %>
