
<body>
	<div class="search-area">
		<div class="search-block">
			<form id="search-form">
				<input type="text" placeholder="Search Products">
				<input type="submit" value="Search">
			</form>
			<form id="filter-form">
				<label>Filter By:</label>
				<select name="filter_by" id="filter_by">
					<option value="all">All</option>
					<option value="price">Price</option>
					<option value="name">Name</option>
				</select>
			</form>
		</div>
		<div class="recent-block">
			<div class="recent-list">
				<a href="#" id="recent_orders">Recent Orders <i class="fa fa-angle-down"></i></a>
				<ul>
          <% @recent_orders.each do |order| %>
					  <li><a href="<%= order_url(order) %>"><%= order.delivery_date.to_date %> (# <%= order.number %>)</a></li>
					<% end %>
				</ul>
			</div>
			<!-- <a href="" class="browse_catalog">Browse Catalog</a> -->
		</div>
	</div>
	<!-- <h1 class="tablet-center">Sweet Deals!</h1> -->
  <h1 class="tablet-center"><%= @vendor.name %> Product Catalog</h1>
	<a href="<%= new_order_url %>" class="new-order-button">Create New Order</a>

	<% if @current_order%>
		<h3 id="current-order">Order: <a href="<%= order_url(@current_order) %>">#<%= @current_order.number %> (<%= @current_order.delivery_date.to_date %>)</a></h3>
		<h3> Delivery Date: <%= @current_order.delivery_date.to_date.to_formatted_s(:long) %></h3>
	<% end %>

	<div id="order-form">
		<div class="order-product-list">

			<div class="tRow header">
				<div class="cel">
				</div>
				<div class="cel">
					<a href="" class="sort-name">Name <i class="fa fa-sort"></i></a>
				</div>
				<div class="cel">
					<a href="" class="sort-sku">SKU <i class="fa fa-sort"></i></a>
				</div>
				<div class="cel">
					<a href="" class="sort-pack_size">Pack/Size <i class="fa fa-sort"></i></a>
				</div>
				<div class="cel">
					<a href="" class="sort-lead_time">Lead Time <i class="fa fa-sort"></i></a>
				</div>
				<div class="cel">
					<a href="" class="sort-price">Price <i class="fa fa-sort"></i></a>
				</div>
				<% if @current_customer %>
				<div class="cel">
          <a href="" class="sort-qty">Quantity <i class="fa fa-sort"></i></a>
				</div>
				<% end %>
				<div class="cel">
				</div>
			</div>

      <% @products.each do |product| %>
				<%= form_for :order, html: {class: "tRow"}, url: populate_orders_path(format: 'js', index: product.master.id), remote: true do |f| %>
					<% if @current_order %>
						<input type="hidden" name=order[id] value="<%= @current_order.id %>">
					<% end %>

						<div class="cel">
							<img>
						</div>
						<div class="cel">
							<a href="<%= vendor_product_url(@vendor, product) %>"><%= product.name %></a>
						</div>
						<div class="cel">
							<%= product.sku %>
						</div>
						<div class="cel sort-pack_size">
							Each
						</div>
						<div class="cel sort-lead_time">
							1 day
						</div>
						<div class="cel sort-price">
							<%= number_to_currency(product.price) %>
						</div>
						<div class="mobile-divider"></div>

						<% if @current_order %>
							<div class="cel">
								<div class="qty-block">
									<div class="spin"><span class="minus">
										<i class="fa fa-minus"></i>
									</span>
									<%#= number_field_tag :quantity, 1, :class => 'title form-control', :min => 1 %>
									<%= number_field_tag :quantity, 0, :class => 'qty_input', :min => 1 %>
									<!-- <input value="0" placeholder="Qty" class="qty_input"/> -->
									<span class="plus"><i class="fa fa-plus"></i></span></div>
								</div>
							</div>
							<div class="cel">
								<%#= button_tag :class => 'add-prod-to-order btn btn-success', :id => 'add-to-cart-button', :type => :submit do %>
								<%= button_tag :class => 'addToOrder-button', :id => 'add-to-cart-button', :type => :submit do %>
									<%= "Add to Order" %>
	              <% end %>
							</div>
						<% end %>
				<% end %>
      <% end %>

		</div>
		<div class="clear"></div>
	</div>

	<div class="shadow"></div>
	<div class="clear"></div>


	<!-- // -->
	<!-- Scripts -->

	<!-- // -->
<!-- // -->
</body>
<!-- </html> -->
