<div class="search-area">
	<div class="recent-block">
		<div class="recent-list">
			<a href="#" id="recent_orders">Recent Orders <i class="fa fa-angle-down"></i></a>
			<ul>
				<% @recent_orders.each do |order| %>
					<li><a href="<%= order_url(order) %>"><%= order.delivery_date.to_date.to_formatted_s(:short) %> (#<%= order.number %>)</a></li>
				<% end %>
			</ul>
		</div>
	<% if current_spree_user.customer.vendors.include?(@vendor) %>
		<a href="<%= vendor_products_url(@vendor) %>" class="browse_catalog">Browse Catalog</a>
	<% end %>
	</div>
</div>

<h1 class="catalog-title"><%= @vendor.name %></h1>
<a href="<%= new_order_url %>" class="new-order-button">Start New Order</a>
<div class="clear"></div>

<div class="manage-customer">
	<section class="customer-account-info">
		<ul>
			<li><strong>Current Balance:</strong> <%= number_to_currency(@account.balance) %></li>
			<li><strong>Past Due Balance:</strong> $0.00</li>
			<!-- temporary terms -->
			<!-- <li><strong>Payment Terms:</strong> <%#= @vendor.payment_terms %> Days</li> -->
			<li><strong>Payment Terms:</strong> 30 Days</li>
			<a href=" <%= orders_url %>" class="nav-btn">Orders</a>
			<!-- <li><a href="">Invoices</a></li> -->
		</ul>

	</section>

  <div class="contact-group">
		<% if @vendor.images.any? %>
			<% @vendor.images.each do |image| %>
				<%= image_tag image.attachment.url(:product), :class => "contact-img", alt: image.alt %>
			<% end %>
    <% else %>
      <%= image_tag "spree/manage/img/multi-user.png", :class => "contact-img", alt: "account image" %>
		<% end %>

    <div class="contact-info">
      <% if @vendor %>
        <ul class="primary-contact">
          <li><strong>Name:</strong> <%= @vendor.name %></li>
          <li><strong>Email:</strong> <%= @vendor.email %>
          <li><strong>Order Cutoff Time:</strong> <%= @vendor.order_cutoff_time %></li>
          <li><strong>Delivery Minimum:</strong> <%= number_to_currency(@vendor.delivery_minimum) %></li>
          <li><strong>Payment Terms:</strong> <%= @vendor.payment_terms %> Days</li>
        </ul>
      <% else %>
        No information found.
      <% end %>
    </div>
  </div>

  <div class="clear"></div>
  <% @vendor.users.each do |user| %>
<div class="contact-group">
    <% if user.images.any? %>
      <%# user.images.each do |image| %>
        <%= image_tag user.images.first.attachment.url(:product), :class => "contact-img", alt: image.alt %>
      <%# end %>
    <% else %>
      <%#= image_tag image.attachment.url(:product), :class => "contact-img", alt: image.alt %>
      <%#= image_url("spree/manage/img/logo2.png"), :class => "contact-img", alt: image.alt  %>
      <%= image_tag "spree/manage/img/user_placeholder.png", :class => "contact-img", alt: "contact image" %>
    <% end %>

    <div class="contact-info">

        <ul class="contact">
          <li><strong>Contact:</strong> <%= "#{user.firstname} #{user.lastname}" %></li>
          <li><strong>Position:</strong> <%= user.position %></li>
          <li><strong>Phone:</strong> <%= user.phone %></li>
          <li><strong>Email:</strong> <%= user.email %></li>
        </ul>
    </div>
</div>
  <% end %>

</div>
