<select name='customer[id]'>
  <option value="all">All</option>
    <% @customers.each do |customer| %>
      <% if customer.id == @current_customer_id.to_i %>
        <option value='<%= customer.id %>' selected><%= customer.name %></option>
      <% else %>
        <option value='<%= customer.id %>'><%= customer.name %></option>
      <% end %>
    <% end %>
</select>
<label>Start Date
  <input type="date" name=start_date value="<%= @start_date %>">
</label>
<label>End Date
  <input type="date" name=end_date value="<%= @end_date %>">
</label>
<input type="submit" value="Filter">
