

<h1 class="catalog-title">Outgoing Deliveries</h1>
<a href="<%= new_manage_order_url %>" class="new-order-button">Start New Order</a>
<div class="clear"></div>

<div class="receiving-block">
  <div class="my-orders-list">
    <div class="tRow header">
      <div class='cel'>
        Customer
      </div>
      <div class='cel'>
        Order Number
      </div>
      <div class='cel balance'>
        Item Count
      </div>
      <div class='cel balance'>
        Order Total
      </div>
      <div class='cel'>
        Delivery Date
      </div>
      <div class='cel'>
        Delivery Status
      </div>
    </div>

    <% @shipments.each do |shipment| %>
      <% order = shipment.order %>
      <a class="tRow" href="<%= edit_manage_order_shipping_url(order) %>">
        <div class='cel'>
          <%= order.customer.name %>
        </div>
        <div class='cel'>
          <%= order.number %>
        </div>
        <div class='cel'>
          <%= order.item_count %>
        </div>
        <div class='cel'>
          <%= number_to_currency(order.total) %>
        </div>
        <div class='cel'>
          <%= order.delivery_date.to_date.to_formatted_s(:long) %>
        </div>
        <div class='cel'>

            <%= shipment.state %>
          
        </div>
      </a>
    <% end %>
  </div>

</div>
