<head>
	<title>Business Overview</title>
</head>

<body>
					<h1>Business Overview</h1>

					<form action="#" id="chart-form">

						<div class="leftpart">
							<div class="app-dash-widget">
								<%= render 'spree/manage/root/app_dash_widget/food_sales' %>

								<div class="col2">
									<a href="" id="basic-modal" class="cta-link">Enter Sales</a>
								</div>

								<div class="clear"></div>
								<div class="average-price">
									<div>$10.000 <i class="fa fa-arrow-up"></i></div>
									<div>My Average: $8.000</div>
								</div>

								<div class="clear"></div>
								<%= high_chart("area_chart", @sales_overtime_chart) %>
							</div>
						</div>

						<div class="rightpart">

							<div class="app-dash-widget">
								<%= render 'spree/manage/root/app_dash_widget/customer_sales' %>

								<div class="chart-block">
									<%= render 'spree/manage/root/app_dash_widget/chart_tabs' %>

									<div class="chart">
										<%= high_chart("bar", @customer_sales_bar_chart) %>
										<%= high_chart("pie", @customer_sales_pie_chart) %>
									</div>
								</div>

							</div>

							<div class="app-dash-widget">
								<%= render 'spree/manage/root/app_dash_widget/payment_status_table' %>
								<p><a href="" class="cta-link2">2 outstanding invoices</a></p>
							</div>
						</div>

						<div class="clear"></div>
					</form>

				<div class="shadow"></div>
				<div class="clear"></div>

	<!-- Popup content -->
	<div id="basic-modal-content">
		<%= render 'spree/manage/root/enter_sales' %>
	</div>
	<!-- // -->

<!-- Scripts -->
<%= javascript_include_tag "spree/manage/js/chart_scripts.js" %>
<!-- // -->
</body>
</html>
