
<h1 class="catalog-title">Orders Overview</h1>
<a href="<%= new_order_url %>" class="new-order-button">Start New Order</a>
<div class="clear"></div>


  <div class="orders-list-block">

    <div class="search-block">
      <form id="filter-form">
        <%= select(:vendor, :name) do%>
          <option value="all">All</option>
          <%= options_for_select (@customer.vendors.collect(&:name)) %>
        <% end %>
        <input type="date" name=date>
        <input type="submit" value="Filter">
      </form>
      <form id="search-form">
        <label>Search:</label>
        <input type="text" placeholder="Search Products">
        <input type="submit" value="Search">
      </form>
      <div class="clear"></div>
    </div>

    <form action="#" id="orders-list-form">
      <div class="orders-list-table">
        <div class="tRow header">
          <div class="cel">
            <a href="" class="sort-name">Vendor <i class="fa fa-sort"></i></a>
          </div>
          <div class="cel">
            <%= sortable "number", "Order #" %>
            <!-- <a href="" class="sort-name">Order # <i class="fa fa-sort"></i></a> -->
          </div>
          <div class="cel">
            <%= sortable "delivery_date" %>
            <!-- <a href="" class="sort-date">Delivery Date<i class="fa fa-sort"></i></a> -->
          </div>
          <div class="cel">
            <%= sortable "item_count", "Total Items" %>
            <!-- <a href="" class="sort-sku">Total Items <i class="fa fa-sort"></i></a> -->
          </div>
          <div class="cel">
            <%= sortable "title" %>
            <!-- <a href="" class="sort-pack_size">Total <i class="fa fa-sort"></i></a> -->
          </div>
          <div class="cel">
            <% sortable "state", "Status" %>
            <!-- <a href="" class="sort-lead_time">Status <i class="fa fa-sort"></i></a> -->
          </div>
          <div class="cel">
            
          </div>
          <div class="cel"></div>
        </div>
        <% if @orders %>
          <% @orders.each do |order| %>
            <div class="tRow orders-list-order">
              <a href="<%= order_url(order) %>" class="orders-list-order-link cel">
                <%= order.vendor.name %>
              </a>
              <div class="cel mobile"><a href="<%= order_url(order) %>" class="cta-button">View</a></div>
              <a href="<%= order_url(order) %>" class="orders-list-order-link cel">
                <%= order.number %>
              </a>
              <a href="<%= order_url(order) %>" class="orders-list-order-link cel">
                <%= order.delivery_date.to_date.to_formatted_s(:long) %>
              </a>
              <a href="<%= order_url(order) %>" class="orders-list-order-link cel">
                <%= order.item_count %>
              </a>
              <a href="<%= order_url(order) %>" class="orders-list-order-link cel">
                <%= number_to_currency(order.total) %>
              </a>
              <a href="<%= order_url(order) %>" class="orders-list-order-link cel">
                <%= order.state %>
              </a>
              <a href="<%= order_url(order) %>" class="orders-list-order-link cel">
                  <% if order.delivery_date > DateTime.tomorrow ||(order.delivery_date == DateTime.tomorrow && Time.now < order.vendor.order_cutoff_time.to_datetime)%>
                  	<!-- <a href="<%#= edit_order_url(order) %>">(Edit)</a> -->
                    Edit
                  <% elsif order.state != 'complete' %>
                    Past Order Cutoff
                  <% end %>
              </a>
              <a href="<%= order_url(order) %>" class="orders-list-order-link cel"></a>
            </div>
          <% end %>
          <div class="tRow footer">
            <div class="cel"></div>
            <div class="cel"><b></b></div>
            <div class="cel"></div>
            <div class="cel"></div>
            <div class="cel"></div>
            <div class="cel"></div>
            <div class="cel"></div>
          </div>
        <% end %>
      </div>
      <div class="clear"></div>
    </form>
  </div>
