
<h1 class="catalog-title">Orders Overview</h1>
<a href="<%= new_order_url %>" class="new-order-button">Start New Order</a>
<div class="clear"></div>


  <div class="orders-list-block">

    <div class="search-block">
      <form id="filter-form">
        <select name='status'>
          <% statuses = %w{shipment-received shipment-shipped shipment-ready order-complete order-cart order-approved order-approval\ required }.sort %>

          <option value='any'>Any Status</option>
          <% statuses.each do |status| %>
            <% if status == @status %>
              <option value='<%= status %>' selected><%= status.capitalize %></option>
            <% else %>
              <option value='<%= status %>'><%= status.capitalize %></option>
            <% end %>
          <% end %>
        </select>
        <%= render 'spree/cust/shared/order_filters' %>
      </form>

      <%# if nil %>
      <!-- temporary removal of search
            <form id="search-form">
              <label>Search:</label>
              <input type="text" placeholder="Search Order #">
              <input type="submit" value="Search">
            </form>
      		-->
      <%# end %>
      <div class="clear"></div>
    </div>

    <form action="#" id="orders-list-form">
      <div class="orders-list-table">
        <div class="tRow header">
          <div class="cel">
            <%= sortable "spree_vendor.name", "Vendor" %>
            <%#= sortable "vendor_id" %>
            <!-- <a href="" class="sort-name">Vendor <i class="fa fa-sort"></i></a> -->
          </div>
          <div class="cel">
            <%= sortable "number", "Order #" %>
            <!-- <a href="" class="sort-name">Order # <i class="fa fa-sort"></i></a> -->
          </div>
          <div class="cel">
            <%= sortable "delivery_date" %>
            <!-- <a href="" class="sort-date">Delivery Date<i class="fa fa-sort"></i></a> -->
          </div>
          <div class="cel">
            <%= sortable "item_count", "Total Items" %>
            <!-- <a href="" class="sort-sku">Total Items <i class="fa fa-sort"></i></a> -->
          </div>
          <div class="cel">
            <%= sortable "total" %>
            <!-- <a href="" class="sort-pack_size">Total <i class="fa fa-sort"></i></a> -->
          </div>
          <div class="cel">
            <%= sortable "state", "Status" %>
            <!-- <a href="" class="sort-lead_time">Status <i class="fa fa-sort"></i></a> -->
          </div>
          <div class="cel">
            Shippment
          </div>
          <div class="cel"></div>
        </div>

        <% if @orders %>
          <% @orders.each do |order| %>
            <% url = order_url(order) %>
            <%# url = order.shipments.any? ? (order.shipments.any?{|s| s.state == 'received'} ? invoice_url(order) : order.shipments.any?{|s| s.state == 'shipped'} ? edit_receiving_url(order.shipments.first) : order_url(order)) : order_url(order) %>
            <div class="tRow orders-list-order">
              <a href="<%= url %>" class="orders-list-order-link cel">
                <%= order.vendor.name %>
              </a>
              <div class="cel mobile"><a href="<%= order_url(order) %>" class="cta-button">View</a></div>
              <a href="<%= url %>" class="orders-list-order-link cel">
                <%= order.number %>
              </a>
              <a href="<%= url %>" class="orders-list-order-link cel">
                <%= order.delivery_date.to_date.to_formatted_s(:long) %>
              </a>
              <a href="<%= url %>" class="orders-list-order-link cel">
                <%= order.item_count %>
              </a>
              <a href="<%= url %>" class="orders-list-order-link cel">
                <%= number_to_currency(order.total) %>
              </a>
              <a href="<%= url %>" class="orders-list-order-link cel">
                <%= order.state %>
              </a>
              <a href="<%= url %>" class="orders-list-order-link cel">
                  <% if order.state != 'complete' && order.all_variants_past_cutoff? %>
                    Past Order Cutoff
                  <% elsif order.shipments.length > 0 %>
                    <%= order.shipments.first.state %>
                  <% elsif order.state == 'complete' %>
                    Vendor Approval Req'd
                  <% end %>
              </a>
              <a href="<%= url %>" class="orders-list-order-link cel"></a>
            </div>
          <% end %>
          <div class="tRow footer">
            <div class="cel"></div>
            <div class="cel"><b></b></div>
            <div class="cel"></div>
            <div class="cel"></div>
            <div class="cel"></div>
            <div class="cel"></div>
            <div class="cel"></div>
          </div>
        <% end %>
      </div>
      <div class="clear"></div>
    </form>
  </div>
