<table>
  <tr>
    <td>
      <p class="lede">
        <%#= Spree.t('order_mailer.cancel_email.dear_customer') %>
				Dear <%= @order.user.firstname %>,
      </p>
      <p>
        <%= Spree.t('order_mailer.cancel_email.instructions') %>
      </p>
      <p>
        <strong><%= Spree.t('order_mailer.cancel_email.order_summary_canceled') %></strong>
      </p>
      <table>
        <% @order.line_items.each do |item| %>
          <tr>
            <td>
              <%= raw(item.variant.product.name) %>
              <%= raw(item.variant.options_text) -%>
            </td>
            <td>(<%=item.quantity%>) @ <%= item.single_money %> = <%= item.display_amount %></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td><%= Spree.t('order_mailer.cancel_email.subtotal') %></td>
          <td><%= @order.display_item_total %></td>
        </tr>
         <% @order.shipments.group_by { |s| s.selected_shipping_rate.try(:name) }.each do |name, shipments| %>
          <tr>
            <td class="right" colspan=3><%= Spree.t(:shipping) %> <%= name %>:</td>
            <td class="center"><%= Spree::Money.new(shipments.sum(&:discounted_cost), currency: @order.currency) %></td>
          </tr>
        <% end %>
       <% @order.adjustments.eligible.each do |adjustment| %>
          <tr>
            <td></td>
            <td><%= raw(adjustment.label) %></td>
            <td><%= adjustment.display_amount %></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td><%= Spree.t('order_mailer.cancel_email.total') %></td>
          <td><%= @order.total %></td>
        </tr>
      </table>
    </td>
    <td class="expander"></td>
  </tr>
</table>
