  <li>
    <%= link_to "Back to account",  account_url %>
  </li>
  <li>
    <%= link_to "New",  new_account_user_user_image_url %>
  </li>

<%#= render partial: 'spree/admin/shared/vendor_tabs', locals: { current: :images } %>

<% content_for :page_actions do %>
  <%= button_link_to(Spree.t(:new_image), spree.new_account_user_user_image_url, { class: "btn-success", icon: 'add', id: 'new_image_link' }) if can? :create, Spree::Image %>
<% end %>

<% unless @user.images.any? %>
  <div class="alert alert-warning">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Image)) %>.
  </div>
<% else %>
  <table class="table sortable" data-hook="images_table" data-sortable-link="<%= update_positions_account_user_user_images_url(@user) %>">
    <thead>
      <tr data-hook="images_header">
        <th colspan="2">
          <%= Spree.t(:thumbnail) %>
        </th>
        <th>
          <%= Spree.t(:alt_text) %>
        </th>
        <th class="actions"></th>
      </tr>
    </thead>

    <tbody>
      <% (@user.images).each do |image| %>
        <tr id="<%= spree_dom_id image %>" data-hook="images_row">
          <td class="move-handle text-center">
            <% if can? :edit, image %>
              <span class="icon icon-move handle"></span>
            <% end %>
          </td>
          <td class="image">
            <%= link_to image_tag(image.attachment.url(:mini)), image.attachment.url(:product) %>
          </td>
          <td><%= image.alt %></td>
         <td class="actions">
            <%#= link_to_with_icon 'edit', Spree.t(:edit), edit__account_account_image_url(image), :data => {:action => 'edit'} %>
            <%= link_to 'delete', account_user_user_image_path(@user, image),
                          method: :delete,
                                        data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
