<div class="search-area layout2">
	<a href="<%= manage_orders_url %>" class="cta-link">Back to all Orders</a>
	<!-- <div class="search-block">
		<form id="search-form">
			<input type="text" placeholder="Search by order#">
			<input type="submit" value="Search">
		</form>
	</div> -->
</div>

<%= form_for ([:manage, @order]),url: manage_order_url, method: "patch", html: { id: 'single-order-form' } do |order_form| %>
	<div class="single-order-block">
		<div class="search-block">
			<div class="order-name">
				<%= @customer.name %>
			</div>
			<div class="orders-nav">
				<!-- <a href="#" class="nav-left"><i class="fa fa-chevron-left"></i></a> -->
				<span class="order-id">Order #<%= @order.number %></span>
				<!-- <a href="#" class="nav-right"><i class="fa fa-chevron-right"></i></a> -->
			</div>
			<div id="date-form">
				<%= order_form.label :delivery_date, id: 'date_form' %>
			  <%= order_form.date_field :delivery_date, placeholder: "Delivery Date" %>
			</div>
		</div>

		<div class="clear"></div>

		<div class="orders-list-table">
			<div class="tRow header">
				<div class="cel"></div>
				<div class="cel">
					<%= sortable "name", "Item" %>
					<!-- <a href="" class="sort-name">Item <i class="fa fa-sort"></i></a> -->
				</div>
				<div class="cel">SKU
					<!-- <a href="" class="sort-name">SKU <i class="fa fa-sort"></i></a> -->
				</div>
				<div class="cel">Pack/Size
					<!-- <a href="" class="sort-sku">Pack/Size <i class="fa fa-sort"></i></a> -->
				</div>
				<div class="cel">
					<%= sortable "price" %>
					<!-- <a href="" class="sort-lead_time">Price <i class="fa fa-sort"></i></a> -->
				</div>
				<div class="cel">
					<%= sortable "quantity" %>
					<!-- <a href="" class="sort-pack_size">Qty <i class="fa fa-sort"></i></a> -->
				</div>
				<div class="cel">Total
					<!-- <a href="" class="sort-price">Total <i class="fa fa-sort"></i></a> -->
				</div>
				<div class="cel">Out of Stock</div>
			</div>

			<div class="order-items-block">
					<!-- This will need to be split by vendor.categories.each when inplace in model -->
				<div class="order-items-el">
				  <a href="#" class="order-items-toggle">All <i class="fa fa-chevron-down"></i></a>
				  <div class="order-items-cont">
				<%= render partial: 'line_item', collection: @line_items, locals: { order_form: order_form } %>
					</div>
					<div class="order-items-count-block">
						<div class="col1">
							<%= submit_tag "Add Item", class: "cta-button white" %>
						</div>
						<div class="col2">
							<p class="category-count">Category Count: <span class="count-val"><%= @order.line_items.sum(:quantity) %></span></p>
						</div>
						<div class="col3">
							<p class="subtotal-count">Subtotal: <span class="count-val"><%= order_form.object.display_total %></span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="single-order-buttons">
			<%= submit_tag Spree.t(:update), class: 'cta-button notify', id: 'update-button' %>
			<%= link_to 'Cancel Order',  { action: :destroy, id: @order.id },
			method: :delete, data: { confirm: 'Are you sure? This order will be completely deleted!' },
			class: 'cta-button cancel'%>

			<%= submit_tag "Approve Order", class: 'btn btn-primary add-to-order', id: 'approve-button' %>
			<!-- <a href="" class="cta-button notify"><i class="fa fa-bell-o"></i> Notify customer</a> -->
			<div class="clear"></div>
		</div>

	</div>
<% end %>
