
<h1 class="catalog-title">Orders Overview</h1>
<a href="<%= new_manage_order_url %>" class="new-order-button">Start New Order</a>
<div class="clear"></div>


  <div class="orders-list-block">
    <div class="search-block">

      <form id="filter-form">
        <%= select(:customer, :name) do%>
          <% if @current_customer_id %>
            <option value="<%= @current_customer_id %>"><%= Spree::Customer.find(@current_customer_id).name %></option>
          <% end %>
          <option value="all">All</option>
          <%= options_for_select (@vendor.customers.collect(&:name)) %>
        <% end %>
        <input type="date" name=date>
        <input type="submit" value="Filter">
      </form>


<% if nil %>
<!-- in progress code for activating search -->
			<%= search_form_for [:manage, @search] do |f| %>
				<div class="form-group">
        	<%= label_tag :q_number_cont, Spree.t(:order_number, :number => '') %>
          <%= f.text_field :number_cont, class: 'form-control js-quick-search-target' %>
        </div>
				<%= button Spree.t(:filter_results), 'search' %>
			<% end %>

      <!--<form id="search-form">
        <label>Search:</label>
        <input type="text" placeholder="Search Order #">
        <input type="submit" value="Search">
      </form>-->


<% end %>

          <!-- <div id="date-form">
            <label>Delivery Date:</label>
    				<%#= label :delivery_date, id: 'date_form' %>
    			  <%#= date_field :delivery_date, placeholder: "Delivery Date" %>
    			</div> -->

      <div class="clear"></div>
    </div>
    <form action="#" id="orders-list-form">
      <div class="orders-list-table">
        <div class="tRow header">
          <div class="cel">
            <%#= sortable "customer_id" %>
            <%= sortable "spree_customer.name", "Customer" %>
            <!-- <a href="" class="sort-name">Customer <i class="fa fa-sort"></i></a> -->
          </div>
          <div class="cel">
            <%= sortable "number", "Order #" %>
            <!-- <a href="" class="sort-name">Order # <i class="fa fa-sort"></i></a> -->
          </div>
          <div class="cel">
            <%= sortable "delivery_date" %>
            <!-- <a href="" class="sort-name">Delivery Date<i class="fa fa-sort"></i></a> -->
          </div>
          <div class="cel">
            <%= sortable "item_count", "Total Items" %>
            <!-- <a href="" class="sort-sku">Total Items <i class="fa fa-sort"></i></a> -->
          </div>
          <div class="cel">
            <%= sortable "total" %>
            <!-- <a href="" class="sort-pack_size">Total <i class="fa fa-sort"></i></a> -->
          </div>
          <div class="cel">
            <%= sortable "state", "Status" %>
            <!-- <a href="" class="sort-lead_time">Status <i class="fa fa-sort"></i></a> -->
          </div>
          <div class="cel">
            Approve
            <!-- <a href="" class="sort-price">Approve <i class="fa fa-sort"></i></a> -->
          </div>
          <div class="cel"></div>
        </div>
        <% if @orders %>
          <% @orders.each do |order| %>
            <div class="tRow orders-list-order">
              <a href="<%= edit_manage_order_url(order) %>" class="orders-list-order-link cel">
                <%= order.customer.name %>
              </a>
              <div class="cel mobile"><a href="<%= edit_manage_order_url(order) %>" class="cta-button">View</a></div>
              <a href="<%= edit_manage_order_url(order) %>" class="orders-list-order-link cel">
                <%= order.number %>
              </a>
              <a href="<%= edit_manage_order_url(order) %>" class="orders-list-order-link cel">
                <%= order.delivery_date.to_date.to_formatted_s(:long) %>
              </a>
              <a href="<%= edit_manage_order_url(order) %>" class="orders-list-order-link cel">
                <%= order.item_count %>
              </a>
              <a href="<%= edit_manage_order_url(order) %>" class="orders-list-order-link cel">
                <%= number_to_currency(order.total) %>
              </a>
              <a href="<%= edit_manage_order_url(order) %>" class="orders-list-order-link cel">
                <%= order.state %>
              </a>
              <div class="cel approve"><input type="checkbox"></div>
              <div class="cel"></div>
            </div>
          <% end %>
          <div class="tRow footer">
            <div class="cel"></div>
            <div class="cel"><b></b></div>
            <div class="cel"></div>
            <div class="cel"></div>
            <div class="cel"></div>
            <div class="cel"><input type="checkbox" id="select-all"> All</div>
            <div class="cel"><input type="submit" value="confirm"></div>
          </div>
        <% end %>
      </div>
      <div class="clear"></div>
    </form>
  </div>

<script>
  $('#select-all').click(function(event) {
    if(this.checked) {
        // Iterate each checkbox
        $(':checkbox').each(function() {
            this.checked = true;
        });
    }else{
      $(':checkbox').each(function() {
          this.checked = false;
      });
    }
  });
</script>
