<h1 class="tablet-center">Receiving</h1>
<div class="inventory-page-block receiving-page-block">
	<div class="receiving-header-block">
		<div class="col1">
			<%= @order.vendor.name %> <a href="" class="cta-link" id="expand_all">Expand all</a>
		</div>
		<div class="col2">
			<div class="orders-nav">
				<!-- <a href="#" class="nav-left"><i class="fa fa-chevron-left"></i></a> -->
				<span class="order-id">Order # <%= @order.number %></span>
				<!-- <a href="#" class="nav-right"><i class="fa fa-chevron-right"></i></a> -->
			</div>
		</div>
		<div class="col3">
			<p>Delivery Date: <b><%= @order.delivery_date.to_date.to_formatted_s(:long) %></b></p>
		</div>
		<div class="clear"></div>
	</div>
	<!-- <form action="#" id="receiving-form"> -->
	<%= form_for @order, url: order_receiving_url(@order) do |f|%>
		<div class="inventory-list-table">
			<div class="tRow header">
				<div class="cel">Item
					<!-- <a href="" class="sort-name">Item <i class="fa fa-sort"></i></a> -->
				</div>
				<div class="cel">SKU #
					<!-- <a href="" class="sort-sku">SKU #<i class="fa fa-sort"></i></a> -->
				</div>
				<div class="cel">Pack/Size
					<!-- <a href="" class="sort-count_by">Pack/Size <i class="fa fa-sort"></i></a> -->
				</div>
				<div class="cel">Price
					<!-- <a href="" class="sort-count">Price <i class="fa fa-sort"></i></a> -->
				</div>
				<div class="cel">Ordered
					<!-- <a href="" class="sort-suggested_minimum">Ordered <i class="fa fa-sort"></i></a> -->
				</div>
				<div class="cel">Shipped
					<!-- <a href="" class="sort-price">Shipped <i class="fa fa-sort"></i></a> -->
				</div>
				<div class="cel">Total
					<!-- <a href="" class="sort-total">Total<i class="fa fa-sort"></i></a> -->
				</div>
				<div class="cel">
					Received
				</div>
				<div class="cel">
					Confirm
				</div>
			</div>
			<div class="order-items-block">
				<div class="order-items-el" id="category_name_goes_here">
					<a href="" class="order-items-toggle disable rotate">Category<i class="fa fa-chevron-down"></i></a>
					<div class="order-items-cont">

						<% line_items = @order.line_items %>
						<%= render partial: 'line_item', collection: line_items, locals: { f: f } %>

					</div>
					<div class="order-items-count-block">
						<div class="col1">
							<p class="category-count">Ordered Category Count: <span class="count-val"><%= @order.line_items.sum(:quantity) %></span></p>
							<p class="category-count">Shipped Category Count: <span class="count-val"><%= @order.line_items.sum(:shipped_qty) %></span></p>
						</div>
						<div class="col2">
							<p class="category-total">Category Total: <span class="count-val"><%= number_to_currency(@order.total) %></span></p>
							<p class="category-total">Category Total: <span class="count-val"><%= number_to_currency(@order.line_items.sum(:shipped_total)) %></span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="inventory-order-buttons">
			<div class="leftpart">
				<textarea name="Notes" id="notes" placeholder="Notes"></textarea>
			</div>
			<div class="rightpart">
        <%= submit_tag "Reject Order", class: "cta-button cancel", data: {confirm: "Are you sure you want to reject the ENTIRE order?"} %>
				<input type="submit" value="order received">
			</div>
			<div class="clear"></div>
		</div>

	<% end %>
</div>
