<h1 class="tablet-center">Receiving</h1>
<div class="inventory-page-block receiving-page-block">
	<div class="receiving-header-block">
		<div class="col1">
			<%= @order.vendor.name %> <a href="" class="cta-link" id="expand_all">Expand all</a>
		</div>
		<div class="col2">
			<div class="orders-nav">
				<a href="#" class="nav-left"><i class="fa fa-chevron-left"></i></a>
				<span class="order-id">Order # <%= @order.number %></span>
				<a href="#" class="nav-right"><i class="fa fa-chevron-right"></i></a>
			</div>
		</div>
		<div class="col3">
			<p>Delivery Date: <b><%= @order.delivery_date.to_date.to_formatted_s(:long) %></b></p>
		</div>
		<div class="clear"></div>
	</div>
	<form action="#" id="receiving-form">
		<div class="inventory-list-table">
			<div class="header">
				<div class="cel">
					<a href="" class="sort-name">Item <i class="fa fa-sort"></i></a>
				</div>
				<div class="cel">
					<a href="" class="sort-sku">SKU #<i class="fa fa-sort"></i></a>
				</div>
				<div class="cel">
					<a href="" class="sort-count_by">Pack/Size <i class="fa fa-sort"></i></a>
				</div>
				<div class="cel">
					<a href="" class="sort-count">Price <i class="fa fa-sort"></i></a>
				</div>
				<div class="cel">
					<a href="" class="sort-suggested_minimum">Ordered <i class="fa fa-sort"></i></a>
				</div>
				<div class="cel">
					<a href="" class="sort-price">Shipped <i class="fa fa-sort"></i></a>
				</div>
				<div class="cel">
					<a href="" class="sort-total">Total<i class="fa fa-sort"></i></a>
				</div>
				<div class="cel">
					Received
				</div>
				<div class="cel">
					Confirm
				</div>
			</div>
			<div class="order-items-block">
				<div class="order-items-el" id="category_name_goes_here">
					<a href="" class="order-items-toggle disable rotate">Category Name <i class="fa fa-chevron-down"></i></a>
					<div class="order-items-cont">
						<% @order.line_items.each do |line_item| %>
							<% variant = line_item.variant %>
							<div class="order-item">
								<div class="cel"><%= variant.product.name %></div>
								<div class="cel">#<%= variant.sku %></div>
								<div class="cel"><%= variant.pack_size %></div>
								<div class="cel"><%= number_to_currency(variant.price) %></div>
								<div class="cel"><%= line_item.quantity %></div>
								<div class="cel"> qty </div>
								<div class="cel">ship total</div>
								<div class="cel">
									<div class="qty-block">
										<div class="spin"><span class="minus"><i class="fa fa-minus"></i></span><input value="3" placeholder="Qty" class="qty_input"/><span class="plus"><i class="fa fa-plus"></i></span></div>
									</div>
								</div>
								<div class="cel"><input type="checkbox"></div>
							</div>
						<% end %>
					</div>
					<div class="order-items-count-block">
						<div class="col1">
							<p class="category-count">Category Count: <span class="count-val">8</span></p>
						</div>
						<div class="col2">
							<p class="category-total">Category Total: <span class="count-val">$840.00</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="inventory-order-buttons">
			<div class="leftpart">
				<textarea name="Notes" id="notes" placeholder="Notes"></textarea>
			</div>
			<div class="rightpart">
				<a href="" class="cta-button cancel"> Reject Order</a>
				<input type="submit" value="order received">
			</div>
			<div class="clear"></div>
		</div>
	</form>
</div>
