<div class="app-user-block">
  <!-- <div class="photo online"> -->
  <div class="photo">
		<% if current_spree_user.images.any? %>
			<%# SHOWING ONLY FIRST IMAGE %>
			<%= image_tag current_spree_user.images[0].attachment.url(:small), :itemprop => "image" %>
		<% else %>
	    <%=image_tag("spree/manage/img/user_placeholder.png")%>
		<% end %>
  </div>

  <div class="info tablet-hide">
    <p class="user-name"><%= current_spree_user.firstname.capitalize %> <%= current_spree_user.lastname.capitalize %></p>
    <% if current_spree_user.position %>
      <p class="user-role"><%= current_spree_user.position.capitalize %></p>
    <% end %>
  </div>

  <div class="clear"></div>
</div>
