<div data-hook="admin_tax_rate_form_fields">
  <div class="panel panel-default" data-hook="tax_rates">
    <div class="panel-heading">
      <h1 class="panel-title">
        <%#= Spree.t(:general_settings) %>
        <%= "Account Information" %>
      </h1>
    </div>

    <div class="panel-body">
      <div class="col-md-6">
        <div data-hook="name" class="form-group">
          <%= f.label :name, Spree.t(:name) %>
          <%= f.text_field :name, :class => 'form-control' %>
        </div>
        <div data-hook="email" class="form-group">
          <%= f.label :email, Spree.t(:email) %>
          <%= f.email_field :email, :class => 'form-control' %>
        </div>
        <div data-hook="rate" class="form-group">
          <%= f.label :order_cutoff_time, "Order Cutoff Time" %>
          <%= f.text_field :order_cutoff_time, :class => 'form-control' %>
        </div>

      </div>

      <div class="col-md-6">
        <div data-hook="zone" class="form-group">
          <%= f.label :slug, "Slug" %>
          <%#= f.collection_select(:zone_id, @available_zones, :id, :name, {}, {:class => 'select2'}) %>
          <%= f.text_field :slug, :class => 'form-control' %>
        </div>
        <div data-hook="category" class="form-group">
          <%= f.label :payment_terms, "Payment Terms" %>
          <%= f.text_field :payment_terms, :class => 'form-control' %>
        </div>
        <div data-hook="included" class="form-group">
          <%= f.label :delivery_minimum, Spree.t(:delivery_minimum) %>
          <%= f.text_field :delivery_minimum, :class => 'form-control' %>
        </div>
      </div>
    </div>

  </div>
</div>

<%#= render 'spree/admin/shared/calculator_fields', :f => f %>
