<h1> <%= @order.vendor.name %> </h1>
<h4><a href="<%= vendor_orders_url(@order.vendor) %>">< Back to All Orders</a></h4>
<h1> Customer: <%= @order.customer.name %> </h1>
<h3> Order #<%= @order.id %> </h3>

<table class="single-order">
  <colgroup span="7"></colgroup>
  <tr>
    <th>Product</th>
    <th>SKU #</th>
    <th>Pack/Size</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total</th>
    <th>Out of Stock</th>
  </tr>
  <% @order.products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td>product.sku</td>
      <td>product.pack_size</td>
      <td> - <input type="text" placeholder="QTY"></input> + </td>
      <td>product.price</td>
      <td> total </td>
      <td> <input type="checkbox"></td>
    </tr>
  <% end %>
  <tfoot>
    <tr>
      <td><button class="add-to-order">Update Order</button></td>
      <td><button class="add-to-order">Approve Order</button></td>
    </tr>
  </tfoot>

</table>
