<table>
  <tr>
    <td>
      <p class="lede">
        Dear <%= @order.vendor.name %>,
      </p>

      <p>
        Good news! You have an order from a Sweetist customer!<br>
        Below is the order information. Please retain it for your records.
        <br>

        <div class="confirm-msg">
          <strong>Please confirm this order by replying with "Confirmed" within the next 10 minutes.</strong>
        </div>
        <br>

        <% if nil %> # COMMENTING OUT THE BELOW UNTIL WE START COLLECTING CUSTOMER PHONE NUMBERS AT CHECKOUT
          <%= "If you cannot fulfill the order below, please contact the customer, #{@order.ship_address.full_name}, directly at " %>
          <a href=<%= "tel:#{@order.ship_address.phone}" %>><%= @order.ship_address.phone %></a>
          then reply to this email with the resolution, e.g., substituted items or order cancellation.
          <br>
          Or call Sweetist customer support at <a href="tel:646-979-9255">(646) 979-9255</a> if there are other concerns,
          e.g., concerns with the order timing.
        <% end %>
        If you cannot fulfill the order below, please call Sweetist customer support at
        <a href="tel:646-979-9255">(646) 979-9255</a>.

      </p>

      <table class="bakery_mailer_summary">
        <tr>
          <td colspan=2><strong><%= Spree.t('order_mailer.confirm_email.order_summary') %></strong></td>
        </tr>
        <tr>
          <td>Customer:</td>
          <td><%= "#{@order.user.firstname} #{@order.user.lastname}, #{@order.vendor.name}" %><br>
        </tr>
        <% if @shipping_method.name.downcase.include? "delivery" %>
          <tr>
            <td>Address:
            <td>
              <%= @order.ship_address.address1 %><br>
              <% if @order.ship_address.address2.presence %>
                <%= @order.ship_address.address2 %><br>
              <% end %>
              <%= @order.ship_address.city %>, <%= @order.ship_address.state.name %> <%= @order.ship_address.zipcode %>
            </td>
          </tr>
        <% end %>
        <% if @order.special_instructions.presence %>
          <tr>
            <td>Delivery instructions:</td>
            <td><%= @order.special_instructions %></td>
          </tr>
        <% end %>
      </table>

      <!-- Order Items Summary -->
      <table>
        <tr>
          <td colspan=4><strong>Order Details</strong></td>
        </tr>
        <tr>
          <th class="order-table item-name">Item Name</th>
          <th class="order-table price">Price</th>
          <th class="order-table qty">Qty</th>
          <th class="order-table subtotal">Subtotal</th>
        </tr>
        <% @order.line_items.each do |item| %>
          <tr>
            <td>
              <%= raw(item.variant.product.name) %>
              <%= raw(item.variant.options_text) -%>
            </td>
            <% if nil %>
              <!-- Replacing default format -->
              <td>(<%= item.quantity %>) @ <%= item.single_money %> = <%= item.display_amount %></td>
            <% end %>
            <td class="center"><%= item.single_money %></td>
            <td class="center"><%= item.quantity %></td>
            <td class="center"><%= item.display_amount %></td>
          </tr>
        <% end %>
        <tr>
          <td class="right" colspan=3>
            <%= Spree.t('order_mailer.confirm_email.subtotal') %>
          </td>
          <td class="center">
            <%= @order.display_item_total %>
          </td>
        </tr>
        <% if @order.line_item_adjustments.exists? %>
          <% if @order.all_adjustments.promotion.eligible.exists? %>
            <% @order.all_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
              <% next if (adjustments.first.source_type == 'Spree::PromotionAction') and (adjustments.first.adjustable_type == 'Spree::Order') %> <!-- skip if promotion to avoid showing promotions twice -->
              <tr>
                <td class="right" colspan=3><%= Spree.t(:promotion) %> <%= label %>:</td>
                <td class="center"><%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
        <% @order.shipments.group_by { |s| s.selected_shipping_rate.try(:name) }.each do |name, shipments| %>
          <tr>
            <td class="right" colspan=3><%= Spree.t(:shipping) %> <%= name %>:</td>
            <td class="center"><%= Spree::Money.new(shipments.sum(&:discounted_cost), currency: @order.currency) %></td>
          </tr>
        <% end %>
        <% if @order.all_adjustments.eligible.tax.exists? %>
          <% @order.all_adjustments.eligible.tax.group_by(&:label).each do |label, adjustments| %>
            <tr>
              <td class="right" colspan=3><%= Spree.t(:tax) %> <%= label %>:</td>
              <td class="center"><%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %></td>
            </tr>
          <% end %>
        <% end %>
        <% @order.adjustments.eligible.each do |adjustment| %>
          <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
          <tr>
            <td class="right" colspan=3><%= adjustment.label %>:</td>
            <td class="center"><%= adjustment.display_amount %></td>
          </tr>
        <% end %>
        <tr>
          <td class="right" colspan=3>
            <strong><%= Spree.t('order_mailer.confirm_email.total') %></strong>
          </td>
          <td class="center">
            <strong><%= @order.display_total %></strong>
          </td>
        </tr>
      </table>
      <p>
        Thank you for your business!
      </p>
    </td>
    <td class="expander"></td>
  </tr>
</table>
