<%= render partial: 'spree/admin/shared/customer_tabs', locals: { current: :images } %>

<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @image } %>

<%= form_for [:admin, @customer, @customer_image], html: { multipart: true } do |f| %>
  <div data-hook="edit_image" class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">
        <%= @customer_image.attachment_file_name%>
      </h1>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <div data-hook="thumbnail" class="col-md-3 text-center">
          <%= f.label Spree.t(:thumbnail) %>
          <%= link_to image_tag(@customer_image.attachment.url(:small)), @customer_image.attachment.url(:customer) %>
        </div>
        <div class="col-md-9">
          <%= render partial: 'form', locals: { f: f } %>
        </div>

        <div class="form-actions" data-hook="buttons">
          <%= button Spree.t('actions.update'), 'save' %>
          <span class="or"><%= Spree.t(:or) %></span>
          <%= button_link_to Spree.t('actions.cancel'), spree.admin_customer_customer_images_url(@customer), id: 'cancel_link', icon: 'delete' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
