<div class="divider2"></div>


<div class="product-size-block">
  <!-- <div class="col1"></div>
  <div class="col2"></div>
  <div class="col3"></div> -->

  <%= f.label :sku %>
  <%= f.text_field :sku %>

  <%= f.label :price %>
  <%= f.text_field :price %>

  <%= f.label :lead_time, "Lead Time (Days)" %>
  <%= f.text_field :lead_time, placeholder: 'days' %>

  <%= f.label 'Pack/Size' %>
  <%= f.text_field :pack_size %>

  <%= f.label :cost_price %>
  <%= f.text_field :cost_price %>

  <%= f.label :cost_currency %>
  <%= f.text_field :cost_currency, value: 'USD' %>

  <%= f.label :weight %>
  <%= f.text_field :weight %>

  <%= f.label :width %>
  <%= f.text_field :width %>

  <%= f.label :height %>
  <%= f.text_field :height %>

  <%= f.label :depth %>
  <%= f.text_field :depth %>


  <div class="clear"></div>
</div>
