<div class="product-edit-block">

  <%= form_for @product, url: manage_product_url(@product), html: {id: "product-edit-form"} do |prod_form|%>
    <%= render partial: 'form' %>

      <%= prod_form.fields_for :master do |f| %>
        <%= render partial: 'variant_form', locals: {f:f} %>
      <% end %>

      <%= prod_form.fields_for :variants do |f|%>
        <%= render partial: 'variant_form', locals: {f:f} %>
      <% end %>

    <div class="divider2"></div>
    <div class="product-edit-buttons">
      <!-- <a href="" class="cta-button white"><i class="fa fa-plus"></i> Add new size</a> -->
      <!-- <input type="submit" value="Remove product"> -->
      <!-- <a href="" class="cta-button white">Save</a> -->
      <button class="cta-button white">Update</button>
      <div class="clear"></div>
    </div>
  <% end %>
</div>
