<div class="product-edit-block">
  <!-- <form id="product-edit-form"> -->
  <%= form_for @product, url: manage_product_url(@product), html: {id: "product-edit-form"} do |f|%>
    <p><label for="prod_name">Product Name:</label>
       <input type="text" id="prod_name" name=product[name] value="<%= @product.name %>"></p>
    <!-- <p><label for="prod_name">Mfg: </label> -->
       <!-- <input type="text" id="mfg" value="<%#= @vendor.name %>"></p> -->
       <p>Mfg: <%= @vendor.name %></p>
    <div class="row">
      <div class="col1">
        <%= image_tag("spree/manage/img/product-img4.jpg", class: "prodcut-view-img")%>
        <p class="aligncenter"><a href="#" class="upload-img-button">Upload new image</a></p>
        <div class="divider2"></div>
        <div class="checkbox-block">
          <!-- <p><b>Allergans:</b> -->
          <%# @allergans.each do |allergan| %>
          <!-- allergans still need to be linked up to model -->
            <!-- <p><b></b><label><input type="checkbox"><%#= allergan %></label></p> -->
          <%# end %>
        </div>
        <div class="checkbox-block">
          <!-- <p><b>Lead Time (days):</b> -->
            <!-- <label>Lead Time (days):
            <input type="number" name="" value="0">
          </label> -->
            <!-- <select name="lead_time:" id="lead_time">
              <option value="none">None</option>
              <option value="option 1">Option 1</option>
            </select> -->
          </p>
        </div>
      </div>
      <div class="col2">
        <div class="relative description-wrap">
          <textarea class="description" name="product[description]"> <%= @product.description %></textarea>
          <!-- <p class="checkbox-block"><label>V<input type="checkbox" id="v"></label><label>VG<input type="checkbox" id="vg"></label><label>GF<input type="checkbox" id="gf"></label></p> -->
        </div>
      </div>
    </div>

    <% @product.variants_including_master.each do |variant| %>
    <div class="divider2"></div>
    <div class="product-size-block">
      <div class="col1">
        <!-- <a href="" id="close-button"><i class="fa fa-times"></i></a> -->
      </div>
      <div class="col2">
        <p><label for="sku">SKU #</label> <input type="text" id="sku" name=product[sku] value="<%= variant.sku %>"></p>
      </div>
      <div class="col3">
        <div class="leftpart">
          <p>
            <label>Pack/Size:
              <input type="text" name="" value="Each">
            </label>
            <!-- <select name="pack_size:" id="pack_size">
              <option value="none">Each</option>
              <option value="option 1">Option 1</option>
            </select> -->
          </p>
        </div>
        <div class="rightpart">
          <p>
            <label>Price: </label>
            <input type="text" id="price" name=product[price] value="<%= number_to_currency(variant.price) %>">
          </p>
        </div>
        <!-- <div class="datepicker-block">
          <div class="leftpart">
            <p><input type="checkbox" id="promotional"><label for="promotional">Promotional</label></p>
          </div>
          <div class="rightpart">
            <p><label for="promo_price">Promo Price:</label> <input type="text" id="promo_price" value=""></p>
          </div>
          <div class="leftpart">
            <p class="datepicker-cont"><label for="date_start">Start:</label>
              <input type="text" class="datepicker" id="date_start" value="">
              <%#= image_tag("spree/manage/img/datepicker-ico.jpg", class: "date-icon") %>
            </p>
          </div>
          <div class="rightpart">
            <p class="datepicker-cont">
              <label for="date_end">End:</label>
              <input type="text" class="datepicker" id="date_end" value="">
              <%#= image_tag("spree/manage/img/datepicker-ico.jpg", class: "date-icon") %>
            </p>
          </div>
        </div> -->
      </div>
      <div class="clear"></div>
    </div>
    <% end %>

    <div class="divider2"></div>
    <div class="product-edit-buttons">
      <!-- <a href="" class="cta-button white"><i class="fa fa-plus"></i> Add new size</a> -->
      <!-- <input type="submit" value="Remove product"> -->
      <!-- <a href="" class="cta-button white">Save</a> -->
      <button class="cta-button white">Update</button>
      <div class="clear"></div>
    </div>
  <% end %>
</div>
