<%#= form_for :order, url: populate_manage_orders_path(format: 'js'), remote: true do |f| %>

<h1 class="vendor-heading"> <%= @vendor.name %></h1>

<input type="text" placeholder="Product name or sku"></input>
<button class=search>Search</button>

<h3> Product Guide </h3>
Current order: <%= @current_order.number %> <!-- DEBUG -->
<table>
  <colgroup span="7"></colgroup>
  <tr>
    <th></th>
    <th>Product Name</th>
    <th>SKU #</th>
    <th>Pack/Size</th>
    <th>Lead Time</th>
    <th>Price</th>
    <th>Quantity</th>
    <th></th>
  </tr>
  <% @products.each do |product| %>
		<%# DEBUG PURPOSES TO LIMIT NUMBER OF PRODUCTS SHOWN %>
		<% if product.id > 2 then %>
	  	<% break %>
		<% end %>

		<%# SETTING THE INDEX TO PRODUCT.MASTER.ID BELOW BUT WILL NEED TO DETERMINE HOW TO CONSIDER VARIANTS IN THIS CATALOG VIEW %>
	 <%= form_for :order, url: populate_manage_orders_path(format: 'js', index: product.master.id), remote: true do |f| %>

    <tr>
      <td>
        <% if product.images.present? %>
          <%= image_tag product.images.first.attachment.url(:mini) %>
        <% else %>
           No IMG
        <% end %>
      </td>
      <td><a href="<%= manage_product_url(product.id) %>"><%= product.name %></a></td>
      <td><%=Spree::Variant.find_by_product_id(product.id).sku %></td>
      <td>pack/size</td>
      <td>lead time</td>
      <td><%= number_to_currency(product.price) %></td>
      <td>
        <div class="cart-item-quantity count-block" data-hook="cart_item_quantity">
          <span href="#" class="minus count-buttons">-</span>
            <div class="count">
							<%= number_field_tag :quantity, 1, :class => 'title form-control', :min => 1 %>
            </div>
            <span href="#" class="plus count-buttons">+</span>
        </div>
      </td>
			<td>
        <div class="add-to-cart">
          <br/>
          <div class="input-group">
            <span class="input-group-btn">
              <%= button_tag :class => 'add-prod-to-order btn btn-success', :id => 'add-to-cart-button', :type => :submit do %>
                <%= Spree.t(:add_to_cart) %>
              <% end %>
            </span>
          </div>
				</td>
    </tr>
	 <!-- /. form_for -->
	 <% end %>
  <% end %>
  <tfoot>
    <tr>
      <td>
        <div class="add-to-cart">
          <br/>
          <div class="input-group">
            <span class="input-group-btn">
              <%= button_tag :class => 'add-to-order btn btn-success', :id => 'add-to-cart-button', :type => :submit do %>
                <%= Spree.t(:add_to_cart) %>
              <% end %>
            </span>
          </div>
      </td>
    </tr>
  </tfoot>
</table>

<%# end %>
