<%#= form_for :order, url: populate_manage_orders_path(format: 'js'), remote: true do |f| %>

<h1 class="catalog-title"><%= @vendor.name %> Product Catalog</h1>
<a href="<%= new_manage_order_url %>" class="new-order-button">Start New Order</a>

<div class="clear"></div>
<!-- <input type="text" placeholder="Product name or sku"></input>
<button class="search">Search</button> -->
<h3><%= @products.count %> Items Available </h3>
<div id="order-form">

<% if @current_customer && @current_order%>
  <h3> Customer: <a href="manage_customer_url(@current_customer)"><%= @current_customer.name %></a></h3>
  <h3> Delivery Date: <%= @current_order.delivery_date.to_date.to_formatted_s(:long) %></h3>
  <h3 id="current-order">Order: <a href="<%= edit_manage_order_url(@current_order) %>">#<%= @current_order.number %></a></h3>
<% end %>
<br>
<div class="liveFilterContainer">
  <label>Search
    <input type="text" class="liveFilterInput default" placeholder="Product name or sku" />

    <a href="#" class="clearField" title="Clear Filter">x</a>
  </label>
</div>
<div class="noResults"><strong>Sorry.</strong> There is no match for your filter; please try again.</div>


  <div class="order-product-list liveFilterList">

    <div class="tRow header">
      <div class="cel">
      </div>
      <div class="cel">
        <%#= link_to "Name", sort: "name" %>
        <%= sortable "name", "Product" %>
        <!-- <a href="" class="sort-name">Name <i class="fa fa-sort"></i></a> -->
      </div>
      <div class="cel">SKU
        <!-- <a href="" class="sort-sku">SKU <i class="fa fa-sort"></i></a> -->
      </div>
      <div class="cel">Pack/Size
        <!-- <a href="" class="sort-pack_size">Pack/Size <i class="fa fa-sort"></i></a> -->
      </div>
      <div class="cel">Lead Time
        <!-- <a href="" class="sort-lead_time">Lead Time <i class="fa fa-sort"></i></a> -->
      </div>
      <div class="cel">
        <%#= link_to "Price", sort: "price" %>
        <%= sortable "price" %>

        <!-- <a href="" class="sort-price">Price <i class="fa fa-sort"></i></a> -->
      </div>
      <div class="cel">
        <% if @current_order %>
        Quantity
          <!-- <a href="" class="sort-qty">Quantity <i class="fa fa-sort"></i></a> -->
        <% end %>
      </div>
      <div class="cel">
      </div>
    </div>

    <% @products.each do |product| %>
      <%= form_for :order, html: {class: "tRow"}, url: populate_manage_orders_path(format: 'js', index: product.master.id), remote: true do |f| %>
				<% url = spree.product_url(product) %>

          <div class="cel">
            <%= link_to small_image(product, itemprop: "image"), url, itemprop: 'url' %><br/>
          </div>
          <div class="cel">
            <a href="<%= manage_product_url(product) %>"><%= product.name %></a>
          </div>
          <div class="cel">
            <%= product.sku %>
          </div>
          <div class="cel sort-pack_size">
            Each
          </div>
          <div class="cel sort-lead_time">
            1 day
          </div>
          <div class="cel sort-price">
            <%= number_to_currency(product.price) %>
          </div>
          <div class="mobile-divider"></div>
          <div class="cel">
            <% if @current_order %>
              <div class="qty-block">
                <div class="spin"><span class="minus">
                  <i class="fa fa-minus"></i>
                </span>
                <%#= number_field_tag :quantity, 1, :class => 'title form-control', :min => 1 %>
                <%= number_field_tag :quantity, 0, :class => 'qty_input', :min => 1 %>
                <!-- <input value="0" placeholder="Qty" class="qty_input"/> -->
                <span class="plus"><i class="fa fa-plus"></i></span></div>
              </div>
            <% else %>
              <a href="<%= edit_manage_product_url(product) %>">Edit</a>
            <% end %>
          </div>
          <div class="cel">
            <% if @current_order %>
              <%= button_tag :class => 'addToOrder-button', :id => 'add-to-cart-button', :type => :submit do %>
                <%= "Add to Order" %>
              <% end %>
            <% end %>
          </div>
      <% end %>
    <% end %>

  </div>
  <div class="clear"></div>
</div>

<div class="shadow"></div>
<div class="clear"></div>
<%# end %>
<%= javascript_include_tag "spree/product_search" %>
