<h1 class="catalog-title"><%= @customer.name %>
  <a href="<%= edit_account_url %>" class="edit-link">(Edit)</a>
  <a href="<%= new_account_user_url %>" class="cta-link">Add New User</a>
</h1>
<div class="clear"></div>
<h3 id="account-id">Account #<%= @customer.spree_account_id %> </h3>

<div class="manage-customer">

  <div class="contact-group">
		<%= link_to account_account_images_path do %>
			<div class="contact-img-block">
    		<% if @customer.images.any? %>
      		<% @customer.images.each do |image| %>
        		<%= image_tag image.attachment.url(:product), :class => "contact-img", alt: image.alt %>
      		<% end %>
				<% else %>
					<%= image_tag "spree/manage/img/multi-user.png", :class => "contact-img", alt: "account image" %>
    		<% end %>
				<div class="img-block-overlay">
					<div class="img-edit-link-div">
						edit image
					</div>
				</div>
			</div>
		<% end %>

    <div class="contact-info">
      <% if @customer.ship_address %>
        <ul class="primary-contact">
          <li><strong>Contact:</strong> <%= "#{@customer.ship_address.firstname} #{@customer.ship_address.lastname}" %></li>
          <li><strong>Phone:</strong> <%= @customer.ship_address.phone %></li>
          <li><strong>Email:</strong> <%= @customer.email %></li>
          <li><strong>Address:</strong>
            <ul class="address">
              <li><%= @customer.ship_address.address1 %></li>
              <% unless @customer.ship_address.address2.nil? %>
                <li><%= @customer.ship_address.address2 %></li>
              <% end %>
              <li> <%= @customer.ship_address.city %>,
                <%= Spree::State.find(@customer.ship_address.state_id).abbr %>
                <%= @customer.ship_address.zipcode %>
              </li>
              <!-- change to @customer.ship_address.state_name after associated correctly -->
            </ul>
          </li>
        </ul>
      <% else %>
        No address found.
      <% end %>
    </div>
  </div>

  <div class="clear"></div>
  <% @users.each do |user| %>
  	<div class="contact-group">
			<% if user == spree_current_user %>
     		<%= link_to account_user_user_images_path(user) do %>
					<div class="contact-img-block">
						<% if user.images.any? %>
       			<%# user.images.each do |image| %>
         			<%= image_tag user.images.first.attachment.url(:product), :class => "contact-img", alt: user.images.first.alt %>
       			<%# end %>
  					<% else %>
  						<%= image_tag "spree/manage/img/user_placeholder.png", :class => "contact-img", alt: "contact image" %>
     				<% end %>
       			<div class="img-block-overlay">
         			<div class="img-edit-link-div">
           			edit image
         			</div>
       			</div>
					</div>
				<% end %>
			<% else %>
				<div class="contact-img-block">
					<% if user.images.any? %>
       		<%# user.images.each do |image| %>
         		<%= image_tag user.images.first.attachment.url(:product), :class => "contact-img", alt: user.images.first.alt %>
       		<%# end %>
  				<% else %>
  					<%= image_tag "spree/manage/img/user_placeholder.png", :class => "contact-img", alt: "contact image" %>
					<% end %>
				</div>
			<% end %>

      <div class="contact-info">

          <ul class="contact">
            <li><strong>Contact:</strong> <%= "#{user.firstname} #{user.lastname}" %></li>
            <li><strong>Position:</strong> <%= user.position %></li>
            <li><strong>Phone:</strong> <%= user.phone %></li>
            <li><strong>Email:</strong> <%= user.email %></li>
          </ul>
            <% if user == current_spree_user || current_spree_user.is_admin %>
              <a href="<%= edit_account_user_url(user) %>" class="edit-contact-link">Edit Contact Information</a>
            <% end %>
      </div>
  </div>
    <% end %>

  <div class="clear"></div>

</div>
