<h1 class="tablet-center">Invoices</h1>
					<div class="invoices-list-block">
						<div class="search-block">

				      <form id="filter-form">
								<%= render 'spree/manage/shared/order_filters' %>
				      </form>

							<% if nil %>
							<!-- in progress code for activating search -->
								<%= search_form_for [:manage, @search] do |f| %>
									<div class="form-group">
					        	<%= label_tag :q_number_cont, Spree.t(:order_number, :number => '') %>
					          <%= f.text_field :number_cont, class: 'form-control js-quick-search-target' %>
					        </div>
									<%= button Spree.t(:filter_results), 'search' %>
								<% end %>

					      <!--<form id="search-form">
					        <label>Search:</label>
					        <input type="text" placeholder="Search Order #">
					        <input type="submit" value="Search">
					      </form>-->
							<% end %>
				      <div class="clear"></div>
				    </div>

						<form action="#" id="invoices-list-form">
							<div class="orders-list-table">
								<div class="tRow header">
									<div class="cel">
										<%= sortable "spree_customer.name", "Customer" %>
										<!-- <a href="" class="sort-name">Invoice # <i class="fa fa-sort"></i></a> -->
									</div>
									<div class="cel">
										<%= sortable 'number', 'Invoice #' %>
										<!-- <a href="" class="sort-name">Customer <i class="fa fa-sort"></i></a> -->
									</div>
									<div class="cel">
										<%= sortable 'delivery_date', "Date" %>
										<!-- <a href="" class="sort-sku">Date <i class="fa fa-sort"></i></a> -->
									</div>
									<div class="cel">Amount Due
										<!-- <a href="" class="sort-pack_size">Amount Due <i class="fa fa-sort"></i></a> -->
									</div>
									<div class="cel">Payment Status
										<!-- <a href="" class="sort-lead_time">Status <i class="fa fa-sort"></i></a> -->
									</div>
									<div class="cel"></div>
								</div>
                <% @invoices.each do |invoice| %>
                  <div class="tRow">
                    <a href="<%= manage_invoice_url(invoice) %>" class='cel'>
                      <%= invoice.customer.name %>
                    </a>
                    <a href="<%= manage_invoice_url(invoice) %>" class='cel'>
                      <%= invoice.number %>
                    </a>
                    <a href="<%= manage_invoice_url(invoice) %>" class='cel'>
                      <%= invoice.delivery_date.to_date.to_formatted_s(:long) %>
                    </a>
                    <a href="<%= manage_invoice_url(invoice) %>" class='cel'>
											<% if invoice.shipments.any? {|shipment| shipment.state == 'received'} %>
                      	<%= number_to_currency(invoice.line_items.sum(:received_total)) %>
											<% else %>
												Order not yet received
											<% end %>
                    </a>
                    <a href="<%= manage_invoice_url(invoice) %>" class='cel'>
                    </a>
                    <div class='cel'>
											<a href="http://harvestpublic.s3.amazonaws.com/resources/Invoice_Template.pdf" target="_blank"><%=image_tag("spree/manage/img/pdf-ico.png")%></a>

                    </div>
                  </div>
                <% end %>

								<!-- <div class="tRow">
									<div class="cel"><a href="">32453456</a></div>
									<div class="cel">Hilton NY</div>
									<div class="cel">8-14-2015</div>
									<div class="cel">$1529.50</div>
									<div class="cel">Past Due</div>
									<div class="cel"><a href="" class="cta-button">Send Notice</a></div>
								</div> -->

							</div>
							<div class="clear"></div>
						</form>
					</div>
